.factor-enter, .empresa-enter {
     transform: translateX(-50%);
}

.factor-enter-active, .empresa-enter-active {
     transform: translateX(0);
     transition: transform 500ms ease-in;
}

.factor-exit, .empresa-exit{
     transform: translateX(0);
}

.factor-exit-active, .empresa-exit-active{
     transform: translateX(-50%);
     transition: transform 500ms ease-in
}

.matriz-enter, .resultados-enter{
     transform: translateY(50%);
}
.matriz-enter-active, .resultados-enter-active{
     transform: translateY(0);
     transition: transform 500ms ease-out;
}
.matriz-exit, .resultados-exit{
     transform: translateY(0);
}
.matriz-exit-active, .resultados-exit-active{
     transform: translateY(50%);
     transition: transform 500ms ease-out;
}
